.app-wrap {
    max-width: 800px;
    padding: 8rem 2rem;
    margin: auto;
    font-size: 2rem;
    box-sizing: border-box;
}

section {
    margin-bottom: 3rem;
}

h1 {
    font-style: italic;
}

h2 {}

p {
    line-height: 1.778;
    font-weight: 400;

}

img {
    width: 100%;
    height: auto;
}

a {
    color: #e83d0c;
    text-decoration: none;
}

small {
    font-size: .7em;
}

.sub-header {
    margin-top: -3rem;
    margin-bottom: 0;
}
