.linkedIn {
    display: inline-block;
    border-radius: .4rem;
    border: 2px solid #FFFFFF;
    font-size: 0;
}

.linkedIn svg {
    margin: -.2rem;
    width: 3.4rem;
    height: 3.4rem
}

.linkedIn .background {
    transition: fill .2s;
    fill: transparent;
}


.linkedIn:hover .background {
    fill: #0a66c2; /* in brand color*/
}