.content {
    max-width: 800px;
    padding: 2rem;
    margin: auto;
    font-size: 2rem;
    box-sizing: border-box;
}

header, footer {
    background-color: #000000;
    color: #FFFFFF;
    padding: 0 2rem;
    display: flex;
    height: 5rem;
}

.header-content,
.footer-content {
    flex-grow: 1;
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.footer-content {
    justify-content: flex-end;
}

.links {
    display: flex;
    align-items: center;
}

.links > *:not(:last-child) {
    margin-right: 8px;
}

section {
    margin-bottom: 3rem;
}

h1 {
    margin: 0;
}

.sub-header {
    margin-top: -3rem;
    margin-bottom: 0;
}

h2 {}

p {
    line-height: 1.778;
    font-weight: 400;
}

img {
    width: 100%;
    height: auto;
}

a {
    color: #e83d0c;
    text-decoration: none;
}

small {
    font-size: .7em;
}

